{% load static %}

<!DOCTYPES html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}RAC - Rent-a-car!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'rentacar/styles.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="#home">LOGO</a>
        {% if user.is_authenticated %}
        <a href="#user" id="logged"> You are logged in as {{ user.username }}!</a>
        {% else %}
        <a href="{% url 'home' %}"> Log In </a>
        {% endif %}
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
