{% load static %}

<!DOCTYPES html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RAC - Rent-a-car!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'rentacar/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'rentacar/css/styles.css' %}">
    <script src="{% static 'rentacar/js/bootstrap.min.js' %}"></script>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" id="logo" href="{% url 'home' %}"> RAC </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="togglelogo"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item" id="logged">
            {% if user.is_authenticated %}
            <a class="nav-link" href="account"> Hello {{ user.first_name }}!</a>
            {% else %}
            <a class="nav-link" href="{% url 'login' %}"> Log in</a>
            {% endif %}
           </li>
           <li class="nav-item" id="logout">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}"> Log out </a>
            {% endif %}
            </li>
         <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
          <span class="text-muted">Rent - A - Car Enterprices 2021</span>
        </div>
      </footer>

</body>
</html>
