{% extends 'base.html' %}

{% block title %}RAC - Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="row mb-3">
  <div class="col-md-8 themed-grid-col">
    <div class="pb-3">
        <h5>Welcome to Rent-A-Car!</h5>
    </div>
    <div class="row">
      <div class="col-md-6 themed-grid-col">
        <ul>  
          <li><a href="{% url 'carlist' %}">Rent cars</a></li>
          <li><a href="{% url 'caradd' %}">Add new car for Rent</a></li>
          <li><a href="{% url 'account' %}">View account details</a></li>
        </ul>  
    </div>
    <div class="col-md-6 themed-grid-col" id="secondcolum">
      <p><br>Rent-A-Car is a platform where you can rent your car when you don't need it!</p>
    </div>
    </div>
  </div>
  <img class="carpic" src="/media/images/audi.jpg" alt="Audi">
  </div>
</div>

{% else %}

<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
      <div class="pb-3">
          <h6><strong>Log in or create an account</strong><br>to start using Rent-A-Car!</h6>
      </div>
      <div class="row">
        <div class="col-md-6 themed-grid-col">
          <ul>
            <li><a href="{% url 'login' %}">Log in</a></li>
            <li><a href="{% url 'signup' %}">Create account</a></li>
          </ul>
        </div>
        <div class="col-md-6 themed-grid-col">
            <p><br>Rent-A-Car is a platform where you can rent your car when you don't need it!</p>
          </div>
      </div>
    </div>
    <div class="col-md-4 themed-grid-col" id="thirdcolum">
      <img class="carpic" src="/media/images/audi.jpg" alt="Audi">
    </div>
  </div>
  {% endif %}

{% endblock %}
