
main {
    padding-top: 125px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
    color: coral;
}

#lookup {
    color: black;
}

#login_h5 {
    text-align: left;
}
.navbar-brand, .navbar-toggler-icon {
    background-color: coral;
    border-radius: 5px;
}

.themed-grid-col {
    text-align: center;
}

#account_firstcolum, #carsearch_firstcolum, #login_firstcolum, #login_secondcolum, #carsearch_secondcolum {
    text-align: left;
}

#caradd_firstcolum {
    text-align: left;
}

#thirdcolum {
    margin-top: 15px;
    text-align: center;
    border-style: solid 5px black;
    background-color: coral;
    border-radius: 5px;
}

#carlist_thirdcolum {
    margin-top: 50px;
    color: black;
    background-color: coral;
}

.themed-grid-col a {
    text-decoration: none;
    font-size: 20px; 
    font-weight: 400;
    color: white;
}

.themed-grid-col ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
}

.themed-grid-col li {
    padding: 2px;
    margin-bottom: 4px;
    background-color: rgb(43, 43, 43);
    border-radius: 5px;
}

.themed-grid-col li:hover{
    background-color: coral;
}

.search_listedcars {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(43, 43, 43);
    color: white;
    width: 100%;
    text-align: left;
}

.search_listedcars:hover{
    background-color:  rgb(163, 163, 163);
}

#forgotten{
    color: coral;
    font-size: 20px;
}

.notavailable {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(163, 163, 163);
    color: black;
    width: 100%;
    text-align: left;
}

.listedcars {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(43, 43, 43);
    color: white;
    width: 100%;
    text-align: left;
}

.listedcars:hover {
    background-color: coral;
}

td {
    padding: 5px;
}

th {
    padding: 8px;
}

.selectedcar {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(43, 43, 43);
    color: white;
    width: 100%;
    text-align: left;
}

.imgadd {
    max-width: 80%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:rgb(79, 79, 79);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
  }
  
  #myBtn:hover {
    background-color: rgb(121, 121, 121);
  }

.text-muted {
    float: left;
    font-size: 12px;
    padding-top: 5px;
    padding-left: 5px;
}

.rentstables {
    margin: 5px;
    border: 2px solid rgb(43, 43, 43);
    border-style: none;
    size: 100%;
}
#duedate {
    color: red;
}

#hiddenmenu {
    display: none;
}

@media screen and (max-width: 700px) {
.text-muted {
    font-size: 10px;
    padding-top: 5px;
    }
    #carlist_thirdcolum {
        margin-top: 5px;
    }
    #hiddenmenu {
        display: list-item;    
    }
}