main {
    padding-top: 150px;
    padding-left: 50px;
}

#logged {
    background-color: coral;
    margin-left: 30vw;
}
#logout {
    background-color: crimson;
    margin-left: 40vw;
}

a {
    background-color: coral;
    text-decoration: none;
}