{% extends 'base.html' %}

{% block title %}Account Details{% endblock %}

{% block content %}

<div class="row mb-3">
  <div class="col-md-8 themed-grid-col">
    <div class="pb-3">
        <h5>You are logged in as {{ user.username }}!</h5>
    </div>
    <div class="row">
      <div class="col-md-6 themed-grid-col">
        <ul>
          <li><a href="{% url 'rents' %}">View your rents</a></li>
          <li><a href="{% url 'rentsout' %}">View your cars rented out</a></li>
          <li><a href="{% url 'cars' %}">View your listed cars</a></li>
          <li><a href="{% url 'carsearch' %}">Add co-ownership</a></li>
          {% if pending_cars_count > 0 %}
            {% for car in pending_cars %}
              <li><a href="{% url 'coownership' pk=pending_cars.car.pk %}">Accept co-ownership</a></li>
            {% endfor %}
          {% endif %}
        </ul>  
    </div>
    <div class="col-md-6 themed-grid-col" id="secondcolum">
      <p><br>Tähän käyttäjän tiedot ja mahdollisuus muuttaa niitä.</p>
    </div>
    </div>
  </div>
  <div class="col-md-4 themed-grid-col" id="thirdcolum">Rent<br>-<br>A<br>-<br>Car<br>-<br>Enterprices<br>-<br>2021
  </div>
</div>


{% endblock %}
