{% extends 'base.html' %}

{% block title %}Car Details{% endblock %}

{% block content %}

<div class="row mb-3">
  <div class="col-md-8 themed-grid-col">
    <div class="pb-3">
        <h4>See more details about {{ car.make }} {{ car.model }} !</h4>
    </div>
    <div class="row">
      <div class="col-md-6 themed-grid-col">
        <h6><br>Details:</h6>
        <table class="rentstables">
            <tr>
              <th>{{ car.make }} {{ car.model }}</th>
              <th></th>
            </tr>
            <tr>
                <td>Seats: {{ car.seats }}</td>
                <td>Emissions: {{ car.car.emissions }}</td>
            </tr>
            <tr>
                <td>Type: {{ car.powerLine }}</td>
                <td>Year: {{ car.year }}</td>
            </tr>
            <tr>
                <td>Plate Nro: {{ car.registerNum }}</td>
                <td>Location: {{ car.location }}</td>
            </tr>
            <tr>
                <td><strong>Available from:</strong> {{ rent.endDate }}</td>
                {% if image %}
                  <td><img src="/media/{{ image.image }}"></td>
                {% else %}
                {% endif %}
            </tr>
        </table>   
    </div>
    <div class="col-md-6 themed-grid-col" id="secondcolum">
        <ul>  
            <li><a href="{% url 'carlist' %}">Go back </a></li>
          </ul>  
    </div>
    </div>
  </div>
  <div class="col-md-4 themed-grid-col" id="thirdcolum">Rent<br>-<br>A<br>-<br>Car<br>-<br>Enterprices<br>-<br>2021
  </div>
</div>

{% endblock %}
