{% extends 'base.html' %}

{% block content %}

<form name="carimageform" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
    {% for car in cars %}
      <input type="checkbox" value="{{ car.carNumber.carNumber }}" name="getcar">
      <label for="getcar"><br><strong> {{ car.carNumber.make }} {{ car.carNumber.model }} <br></strong> 
      <strong>Plate Nro:</strong> {{ car.carNumber.registerNum }} </label><br>
    {% endfor %}
    {{ imageform.as_p }}
  <input class="btn btn-outline-success" type="submit" class="savebutton">Upload</button>
</form>

{% if img_obj %}
  <h6>Succesfully uploaded {{ img_obj.title }}</h6>
  <img src="{{ img_obj.image.url }}" alt="pic" style="max-height: 300px">
{% endif %}

{% endblock %}