{% extends 'base.html' %}

{% block content %}


<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
      <div class="pb-3">
          <h4>Find a car suitable for your needs</h4>
      </div>
      <div class="row">
        <div class="col-md-6 themed-grid-col">
          <h5><br>All cars listed<br></h5>
          {% for car in cars %}
          <table class="listedcars">
            <tr>
              <th>{{ car.car }}</th>
            </tr>
            <tr>
                <td>Seats: {{ car.car.seats }}</td>
                <td>Emissions: {{ car.car.emissions }}</td>
            </tr>
            <tr>
                <td>Type: {{ car.car.powerLine }}</td>
                <td>Year: {{ car.car.year }}</td>
            </tr>
              <tr>
                <td>Location: {{ car.car.location }}</td>
                <td>Status: {{ car.car.status }} </td>
              </tr>
            <tr>
                <td>
                    <form action="{% url 'carrent' pk=car.car.pk %}">
                        <button class="btn btn-outline-success" type="submit">RENT</button>
                    </form>
                </td>
            </tr>
          </table>
          {% endfor %}
      </div>
      <div class="col-md-6 themed-grid-col" id="secondcolum">
        <h5><br>Cars available now<br></h5>
        {% for car in rented_cars %}
          <table class="listedcars">
            <tr>
              <th>{{ car.carNumber }}</th>
            </tr>
            <tr>
              <td>Seats: {{ car.carNumber.seats }}</td>
              <td>Emissions: {{ car.carNumber.emissions }}</td>
            </tr>
            <tr>
              <td>Type: {{ car.carNumber.powerLine }}</td>
              <td>Year: {{ car.carNumber.year }}</td>
            </tr>
              <tr>
                <td>Location: {{ car.carNumber.location }}</td>
                <td>Available from: {{ car.endDate }} </td>
              </tr>
            <tr>
              <td>
                <form action="{% url 'carrent' pk=car.carNumber.pk %}">
                  <button class="btn btn-outline-success" type="submit">RENT</button>
                </form>
              </td>
            </tr>
          </table>
          {% endfor %}
      </div>
      </div>
    </div>
    <div class="col-md-4 themed-grid-col" id="thirdcolum">
        <p><br>Search cars!<br></p>
        <form class="d-flex" method="post">{% csrf_token %}
            <label for="model">Make:  </label>
            <input class="form-control me-2" type="search" placeholder="eg. Jeep" aria-label="Search" name="makesearch">
            <label for="model">Seats:  </label>
            <input class="form-control me-2" type="search" placeholder="eg. 4" aria-label="Search" name="seatsearch">
            <label for="model">Location:  </label>
            <input class="form-control me-2" type="search" placeholder="eg. Helsinki" aria-label="Search" name="locationsearch">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          {{ makesearch }}
    </div>
  </div>

{% endblock %}
