{% extends 'base.html' %}

{% block content %}


<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
      <div class="pb-3">
          <h5>Find a car suitable for your needs</h5>
      </div>
      <div class="row">
        <div class="col-md-6 themed-grid-col">
          <p><br>All cars listed</p>
          {% for car in cars %}
          <ul>
          <li>{{ car }}<a href="{% url 'cardetails' pk=car.pk %}"><br>Details</a></li>
            {% endfor %}
      </div>
      <div class="col-md-6 themed-grid-col" id="secondcolum">
        <ul>  
          <li><a href="#">Tähän täällä hetkellä vapaana olevat autot!</a></li>
        </ul>  
      </div>
      </div>
    </div>
    <div class="col-md-4 themed-grid-col" id="thirdcolum">
        <p>Search cars!</p>
        <form class="d-flex">
            <label for="model">Model:</label>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
    </div>
  </div>

{% endblock %}
