{% extends 'base.html' %}

{% block content %}

<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
      <div class="pb-3">
          <h4>New rent</h4>
      </div>
      <div class="row">
        <div class="col-md-6 themed-grid-col">
            <h5><br>Car: {{ car.make }} {{ car.model }}<br></h5>
            <p>Rent price: NEEDSWORK</p>
            <form action='.' method="POST">{% csrf_token %}
                <div class="form">
                    {{ rentform.as_p }}
                </div>
                <input type="submit" value="Save" />
            </form>

      </div>
      <div class="col-md-6 themed-grid-col" id="secondcolum">
        <h5><br>You are viewing:<br></h5>
        <table class="selectedcar">
            <tr>
              <th>{{ car }}</th>
            </tr>
            <tr>
                <td>Seats: {{ car.seats }}</td>
                <td>Emissions: {{ car.emissions }}</td>
            </tr>
            <tr>
                <td>Type: {{ car.powerLine }}</td>
                <td>Year: {{ car.year }}</td>
            </tr>
              <tr>
                <td>Location: {{ car.location }}</td>
                <td>Status: {{ car.status }} </td>
              </tr>
              <tr>
                <td>Owners: {% for owner in owners %}{{ owner.user.last_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                <td>Plate Num: {{ car.registerNum }} </td>
              </tr>
          </table>
      </div>
      </div>
    </div>
    <div class="col-md-4 themed-grid-col" id="thirdcolum">
        <div class="col-md-4 themed-grid-col" id="thirdcolum">TÄHÄN<br>-<br>KUVA<br>-<br>TÄSTÄ<br>-<br>AUTOSTA<br>-<br>2021
    </div>
  </div>

{% endblock %}
