{% extends 'base.html' %}

{% block title %}Your cars{% endblock %}

{% block content %}

<div class="row mb-3">
  <div class="col-md-8 themed-grid-col">
    <div class="pb-3">
        <h4>{{ user.first_name }} view your listed cars!</h4>
    </div>
    <div class="row">
      <div class="col-md-6 themed-grid-col">
        <h6><br>Cars</h6>
        <p><br>MITEN (en osaa nyyh) if tähän?</p>
    </div>
    <div class="col-md-6 themed-grid-col" id="secondcolum">
        <ul>
            <li><a href="{% url 'carimage' %}">Add a picture for your car</a></li>
          </ul>  
    </div>
    </div>
  </div>
  <div class="col-md-4 themed-grid-col" id="thirdcolum">Rent<br>-<br>A<br>-<br>Car<br>-<br>Enterprices<br>-<br>2021
  </div>
</div>


{% endblock %}