{% extends 'base.html' %}

{% block title %}Your cars{% endblock %}

{% block content %}

<div class="row mb-3">
  <div class="col-md-8 themed-grid-col">
    <div class="pb-3">
        <h4>{{ user.first_name }} view your listed cars!</h4>
    </div>
    <div class="row">
      <div class="col-md-6 themed-grid-col">
        <h6><br>Cars</h6>
        {% for car in my_cars %}
        <table class="rentstables">
            <tr>
              <th>{{ car.car }}</th>
              <th></th>
            </tr>
            <tr>
                <td>Seats: {{ car.car.seats }}</td>
                <td>Emissions: {{ car.car.emissions }}</td>
            </tr>
            <tr>
                <td>Type: {{ car.car.powerLine }}</td>
                <td>Year: {{ car.car.year }}</td>
            </tr>
            <tr>
                <td>Plate Nro: {{ car.car.registerNum }}</td>
                <td>Location: {{ car.car.location }}</td>
            </tr>
            <tr>
              <td>
                <form action="{% url 'cardetails' pk=car.car.pk %}">
                  <button class="btn btn-outline-success" type="submit">Details</button>
                </form>
              </td>
            </tr>
        </table>
        {% endfor %}       
    </div>
    <div class="col-md-6 themed-grid-col" id="secondcolum">
        <ul>
            <br>
            <li><a href="{% url 'carimage' %}">Add a picture for your car</a></li>
          </ul>   
    </div>
    </div>
  </div>
    <img class="carpic" src="/media/images/rangerover.jpg" alt="Range Rover">
  </div>
</div>


{% endblock %}