{% extends 'base.html' %}

{% block title %}Add Co-owner{% endblock %}

{% block content %}

<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
      <div class="pb-3">
          <h5>Add co-ownership for a car</h5>
      </div>
      <div class="row">
        <div class="col-md-6 themed-grid-col" id="carsearch_firstcolum">
            <form method="post">{% csrf_token %}
                Enter register number: <input type="text" name="searchfield"/>
                <button class="btn btn-outline-success" input type="submit" value="Search" name="search">Search</button>
            </form>
            <p>Request co-ownership of the car:
            <form method="post">{% csrf_token %}
            {% if text == None %}
              {% for car in cars %}
                <input type="checkbox" value="{{ car.carNumber }}" name="sel_car">
                <label for="{{ car.carNumber }}"><br><strong> {{ car.make }}{{ car.model }} <br></strong> 
                <strong>Plate Nro:</strong> {{ car.registerNum }} </label><br>
                <button class="btn btn-outline-success" input type="submit" value="Request" name="request">Request</button>
              {% endfor %}
            {% else %}
              {{ text }}
            {% endif %}
            </form>
      </div>
      <div class="col-md-6 themed-grid-col" id="carsearch_secondcolum">
        <p>You can have co-ownership for a car so that multible users can manage rents if needed.</p>
      </div>
      </div>
    </div>
    <div class="col-md-4 themed-grid-col" id="thirdcolum">Rent<br>-<br>A<br>-<br>Car<br>-<br>Enterprices<br>-<br>2021
    </div>
  </div>

{% endblock %}