{% extends 'base.html' %}

{% block title %}Account Details{% endblock %}

{% block content %}

<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
        <div class="pb-3">
            <h5>You are logged in as {{ user.username }}!</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 themed-grid-col">
            {% if car %}
                <p>Ownership of {{ car }} added!</p>
            {% endif %}
        </div>
    </div>

    <div class="col-md-6 themed-grid-col" id="secondcolum">
    </div>
    <div class="col-md-4 themed-grid-col">
        <img class="carpic" src="/media/images/audi.jpg" alt="Audi">
    </div>
</div>


{% endblock %}
