{% extends 'base.html' %}

{% block title %}Help{% endblock %}

{% block content %}

<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
      <div class="pb-3">
          <h5>To reset your password contact:<br></h5>
      </div>
      <div class="row">
        <div class="col-md-6 themed-grid-col" id="firstcolum">
            <br>
          <ul>
            <li><a href="{% url 'login' %}">Log in</a></li>
            <li><a href="{% url 'signup' %}">Create account</a></li>
          </ul>
      </div>
      <div class="col-md-6 themed-grid-col" id="secondcolum">
        <br><h6><strong>help@rac.com</strong></h6>
      </div>
      </div>
    </div>
    <img class="carpic" src="/media/images/bmw.jpg" alt="Bmw">
    </div>
  </div>
{% endblock %}
