{% extends 'base.html' %}

{% block title %}Your Rents{% endblock %}

{% block content %}

<div class="row mb-3">
  <div class="col-md-8 themed-grid-col">
    <div class="pb-3">
        <h4>{{ user.first_name }} view your rent details below!</h4>
    </div>
    <div class="row">
      <div class="col-md-6 themed-grid-col">
        <h6><br>ONGOING RENTS</h6>
        {% if val_rents_count > 0 %}
        <form method="post">{% csrf_token %}
            {% for cars in val_rents %}
            <table class="rentstables">
              <tr>
                  <td><input type="checkbox" value="{{ cars.carNumber.carNumber }}" name="carchoice"></td>
                  <td><label for="{{ cars.carNumber.carNumber }}"><strong> {{ cars.carNumber.make }} </strong><br>
                  <td><strong>Due Date:</strong></td> 
              </tr>
              <tr> 
                  <td></td>
                   <td>{{ cars.carNumber.registerNum }}</td>
                   <td id="duedate">{{ cars.endDate }} </label></td>
              </tr>
              </table>
              <h5>Return your rents choosing car(s) and pressing return button!</h5>
              <button class="btn btn-outline-success" type="submit" value="Save">Return</button>
          </form>
            {% endfor %}
          {% else %}
            <p>You don't have any ongoing rents at the moment!</p>
          {% endif %}

    </div>
    <div class="col-md-6 themed-grid-col" id="secondcolum">
      <h6><br>PAST RENTS</h6>
      {% if exp_rents_count > 0 %}
      {% for exp_cars in exp_rents %}
        <table class="rentstables">
          <tr>
            <td><strong>{{ exp_cars.carNumber.make }} </strong> {{exp_cars.carNumber.registerNum}} </td>
          </tr>
          <tr>
            <td><strong>Rent period:</strong>  <br> 
            <strong>From:</strong> {{ exp_cars.startDate }} <br> 
            <strong>To </strong> {{ exp_cars.endDate }} </td>
          </tr>
        </table>
      {% endfor %}
      {% else %}
      <p>You don't have any past rents!</p>
      {% endif %}
    </div>
    </div>
  </div>
  <div class="col-md-4 themed-grid-col" id="thirdcolum">Rent<br>-<br>A<br>-<br>Car<br>-<br>Enterprices<br>-<br>2021
  </div>
</div>


{% endblock %}