{% extends 'base.html' %}

{% block title %}Rents Out{% endblock %}

{% block content %}

<div class="row mb-3">
  <div class="col-md-8 themed-grid-col">
    <div class="pb-3">
        <h4>{{ user.first_name }} view cars you are renting out!</h4>
    </div>
    <div class="row">
      <div class="col-md-6 themed-grid-col">
        <h6><br>ONGOING RENTS</h6>
        {% if valid_rentsout_count > 0 %}
          {% for cars in valid_rentsout %}
            <p>{{ cars.carNumber.make }} {{ cars.carNumber.registerNum }} {{ cars.endDate }}</p><br>
          {% endfor %}
        <p>Return your rents choosing car(s) and pressing return button!</p>
        {% else %}
          <p>You don't have any ongoing rents at the moment!</p>
        {% endif %}
        <h6>RETURNED CARS, PLEASE CONFIRM</h6>
        <form method="post">{% csrf_token %}
        {% for cars in returned_rentsout %}
          <input type="checkbox" value="{{ cars.carNumber.carNumber }}" name="returncarchoice">
          <label for="{{ cars.carNumber.carNumber }}"> {{ cars.carNumber.make }} *
          {{ cars.carNumber.registerNum }} * {{ cars.endDate }}</label><br>
        {% endfor %}
          <button class="btn btn-outline-success" type="submit" value="Save">Confirm Return</button>
        </form>
            <p><br>MITEN (en osaa nyyh) if lause, että tähän saadaan silloin kun ei ole vuokrauksia
               teksti----> Youd don't have ongoing rents atm!</p>
    </div>
    <div class="col-md-6 themed-grid-col" id="secondcolum">
        <h6><br>PAST RENTS</h6>
        {% for exp_cars in expired_rentsout %}
          <table>
            <tr>
              <th>{{ exp_cars.carNumber.make }}</th>
              <th id="rentperiod">Rent period: MITEN?</th>
            </tr>
            <tr>
                <td>Plate Num: {{ exp_cars.carNumber.registerNum }}</td>
            </tr>
          </table>
        {% endfor %}
    </div>
    </div>
  </div>
  <div class="col-md-4 themed-grid-col" id="thirdcolum">Rent<br>-<br>A<br>-<br>Car<br>-<br>Enterprices<br>-<br>2021
  </div>
</div>


{% endblock %}