{% extends 'base.html' %}

{% block title %}Rents Out{% endblock %}

{% block content %}

<div class="row mb-3">
  <div class="col-md-8 themed-grid-col">
    <div class="pb-3">
        <h4>{{ user.first_name }} view cars you are renting out!</h4>
    </div>
    <div class="row">
      <div class="col-md-6 themed-grid-col">
        <h6><br>ONGOING RENTS</h6>
        {% if valid_rentsout_count > 0 %}
          {% for cars in valid_rentsout %}
            <p>{{ cars.carNumber.make }} {{ cars.carNumber.registerNum }} {{ cars.endDate }}</p><br>
          {% endfor %}
        <p>Confirm cat return!</p>
        {% else %}
          <p>You don't have any ongoing rents at the moment!</p>
        {% endif %}
        <h6><br>RETURNED CARS, PLEASE CONFIRM</h6>
        <form method="post">{% csrf_token %}
        {% for cars in returned_rentsout %}
          <input type="checkbox" value="{{ cars.carNumber.carNumber }}" name="returncarchoice">
          <label for="{{ cars.carNumber.carNumber }}"> {{ cars.carNumber.make }} *
          {{ cars.carNumber.registerNum }} * {{ cars.endDate }}</label><br>
        {% endfor %}
          <button class="btn btn-outline-success" type="submit" value="Save">Confirm Return</button>
        </form>
    </div>

    <div class="col-md-6 themed-grid-col" id="secondcolum">
      <h6><br>PAST RENTS OUT</h6>
      {% if expired_rentsout_count > 0 %}
       {% for exp_cars in expired_rentsout%}
        <table class="rentstables">
          <tr>
            <td><strong>{{ exp_cars.carNumber.make }} </strong> {{exp_cars.carNumber.registerNum}} </td>
          </tr>
          <tr>
            <td><strong>Rent period:</strong>  <br> 
            <strong>From:</strong> {{ exp_cars.startDate }} <br> 
            <strong>To </strong> {{ exp_cars.endDate }} </td>
          </tr>
        </table>
       {% endfor %}
      {% else %}
      <p>You don't have any past rents out!</p>
      {% endif %}
    </div>
    </div>
  </div>
  <div class="col-md-4 themed-grid-col" id="thirdcolum">Rent<br>-<br>A<br>-<br>Car<br>-<br>Enterprices<br>-<br>2021
  </div>
</div>


{% endblock %}