{% extends 'base.html' %}

{% block title %}Rent Details{% endblock %}

{% block content %}

<div class="row mb-3">
  <div class="col-md-8 themed-grid-col">
    <div class="pb-3">
        <h4>{{ user.first_name }} view your rent details below!</h4>
    </div>
    <div class="row">
      <div class="col-md-6 themed-grid-col">
        <h5><br>Cars you have rented<br></h5>
        <h6>ONGOING RENTS</h6>
        {% if cars in val_rents == True %}
        {% for cars in val_rents %}
          <input type="checkbox" value="{{ cars.carNumber.carNumber }}" name="carchoice">
          <label for="{{ cars.carNumber.carNumber }}"> {{ cars.carNumber.make }}
            {{ cars.carNumber.registerNum }} Miten lisätään exp date tähä?</label><br>
         {% endfor %}
         {% else %}
            <p> Youd don't have ongoing rents atm!</p>
          {% endif %}
        <h6>PAST RENTS</h6>
        {% for exp_cars in exp_rents %}
          <table>
            <tr>
              <th>{{ exp_cars.carNumber.make }}</th>
            </tr>
            <tr>
                <td>Plate Num: {{ cars.carNumber.registerNum }}</td>
                <td>Rent period: MITEN?</td>
            </tr>
          </table>
        {% endfor %}
    </div>
    <div class="col-md-6 themed-grid-col" id="secondcolum">
        <h5><br>Your cars rented out<br></h5>
        <p>Tähän sinulta vuokratut autot listana
        </p>
        {% for val_cars in valid_rents %}
        <input type="checkbox" value="{{ cars.carNumber.carNumber }}" name="carchoice">
        <label for="{{ cars.carNumber.carNumber }}"> {{ cars.carNumber.make }}
          {{ cars.carNumber.registerNum }} Miten lisätään exp date tähä?</label><br>
       {% endfor %}
    </div>
    </div>
  </div>
  <div class="col-md-4 themed-grid-col" id="thirdcolum">Rent<br>-<br>A<br>-<br>Car<br>-<br>Enterprices<br>-<br>2021
  </div>
</div>


{% endblock %}